div{
    display: flex;
}
.one, .two{
    border: 10px solid black;
    width: 530px;
    border-width: thin;
    margin: 10px;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20%;
}
img{
    width: 300px;
    border-radius: 20%;
}
button{
    background-color: blue;
    color: white;
    width: 90px;
    height: 30px;
}
button:hover{
    border-radius: 50%;
    background-color: aqua;
    color: black;
}
p{
    font-size: x-large;
}
h1{
    font-size: xx-large;
}

